<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <form>
        <div class="form-check">
            <label class="form-check-label">
            <input type="radio" class="form-check-input" name="" id="" value="checkedValue" checked>
            Display value
          </label>
        </div>
    </form>
    <button id="btndelete" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
   <div class="row">
       <div class="col-md-8">
           <label>Barang</label>
            <select class="form-control" name="selbarang" id="selbarang">
            
            </select>
            <br>
<textarea rows="" cols=""></textarea>
            <label>Keterangan</label>
            <input type="text" class="form-control" name="keterangan" id="keterangan">
            <br>
       </div>
       <div class="col-md-4">
           <button id="btndelete" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
       </div>
   </div>

   <form name="form1">
       <p>Days
            <input type="text" name="days" value="0" size="3">Hours
            <input type="text" name="hours" value="0" size="3">Minutes
            <input type="text" name="minutes" value="0" size="3">Seconds
            <input type="text" name="seconds" value="0" size="3">
       </p>
   </form>

    </body>
</html>